/* 
    Name :          OpenSSLWebsite
    Created on :    7 jan. 2015, 09:00:36
    Author     :    Pacheco Mélanie | Passé Valentin | Fillon Vincent
*/
/* 
    Name :          OpenSSLWebsite
    Created on :    7 jan. 2015, 09:00:36
    Author     :    Pacheco Mélanie | Passé Valentin | Fillon Vincent
*/
/* line 9, ../sass/global.scss */
html, body {
  height: 100%;
  font-family: Century Gothic;
}

/* Annimation Header */
/* Background DIV */
/* Chrome, Safari, Opera */
@-webkit-keyframes header-background {
  /* line 18, ../sass/global.scss */
  0% {
    height: 95px;
  }

  /* line 19, ../sass/global.scss */
  50% {
    height: 50%;
  }

  /* line 20, ../sass/global.scss */
  100% {
    height: 95px;
  }
}

/* Standard syntax */
@keyframes header-background {
  /* line 25, ../sass/global.scss */
  0% {
    height: 95px;
  }

  /* line 26, ../sass/global.scss */
  50% {
    height: 50%;
  }

  /* line 27, ../sass/global.scss */
  100% {
    height: 95px;
  }
}

/* Buttons */
/* Chrome, Safari, Opera */
@-webkit-keyframes header-buttons {
  /* line 33, ../sass/global.scss */
  0% {
    padding-top: 0px;
  }

  /* line 34, ../sass/global.scss */
  50% {
    padding-top: 40.5vh;
  }

  /* line 35, ../sass/global.scss */
  100% {
    padding-top: 0px;
  }
}

/* Standard syntax */
@keyframes header-buttons {
  /* line 40, ../sass/global.scss */
  0% {
    padding-top: 0px;
  }

  /* line 41, ../sass/global.scss */
  50% {
    padding-top: 40.5vh;
  }

  /* line 42, ../sass/global.scss */
  100% {
    padding-top: 0px;
  }
}

/* line 45, ../sass/global.scss */
header {
  position: fixed;
  height: 100%;
  z-index: 3;
}
/* line 49, ../sass/global.scss */
header #header-background {
  width: 100%;
  position: fixed;
  height: 95px;
  background-color: #397bce;
  border-bottom: 5px solid #333333;
}
/* line 56, ../sass/global.scss */
header ul {
  position: fixed;
}
/* line 58, ../sass/global.scss */
header ul li {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
/* line 62, ../sass/global.scss */
header ul li a {
  width: 180px;
  margin: auto;
}
/* line 65, ../sass/global.scss */
header ul li a:hover {
  background-color: inherit !important;
}
/* line 69, ../sass/global.scss */
header ul li a img {
  width: 150px;
  margin: auto;
  height: 150px !important;
}

/* line 79, ../sass/global.scss */
.container {
  position: relative;
  z-index: 1;
  padding-top: 200px;
  overflow: auto;
  min-height: 100%;
  padding-bottom: 105px;
}
/* line 86, ../sass/global.scss */
.container #container-head-white {
  position: fixed;
  z-index: 2;
  top: 95px;
  width: 100%;
  height: 75px;
  background-color: white;
}
/* line 94, ../sass/global.scss */
.container #container-head-gradient {
  position: fixed;
  z-index: 2;
  top: 170px;
  width: 100%;
  height: 75px;
  background-image: linear-gradient(#ffffff, transparent);
}
/* line 102, ../sass/global.scss */
.container img {
  margin: auto;
}

/* Acutalité */
/* line 108, ../sass/global.scss */
.cadre-contenu {
  display: block;
}
/* line 111, ../sass/global.scss */
.cadre-contenu img {
  float: left;
  margin-right: 15px;
}

/* line 117, ../sass/global.scss */
.cadre-menu-actualite {
  border: 2px solid #397bce;
  width: 100%;
}
/* line 121, ../sass/global.scss */
.cadre-menu-actualite .centrer {
  margin-left: 2px;
}

/* --Acutalité-- */
/* Vaccination */
/* line 131, ../sass/global.scss */
.vaccination-container h1 {
  text-align: center;
  color: red;
}

/* --Vaccination-- */
/* Annimation Footer */
/* Background DIV */
/* Chrome, Safari, Opera */
@-webkit-keyframes footer-background {
  /* line 143, ../sass/global.scss */
  0% {
    height: 95px;
  }

  /* line 144, ../sass/global.scss */
  50% {
    height: 50%;
  }

  /* line 145, ../sass/global.scss */
  100% {
    height: 95px;
  }
}

/* Standard syntax */
@keyframes footer-background {
  /* line 150, ../sass/global.scss */
  0% {
    height: 95px;
  }

  /* line 151, ../sass/global.scss */
  50% {
    height: 50%;
  }

  /* line 152, ../sass/global.scss */
  100% {
    height: 95px;
  }
}

/* line 155, ../sass/global.scss */
footer {
  padding-top: 100px;
}
/* line 157, ../sass/global.scss */
footer #footer-gradient {
  position: fixed;
  z-index: 3;
  bottom: 95px;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(transparent, #ffffff);
}
/* line 165, ../sass/global.scss */
footer #footer-background {
  position: fixed;
  z-index: 3;
  bottom: 0;
  width: 100%;
  height: 95px;
  background-color: #383f50;
  border-top: 5px solid #333333;
}
