/* 
    Name :          OpenSSLWebsite
    Created on :    7 jan. 2015, 09:00:36
    Author     :    Pacheco Mélanie | Passé Valentin | Fillon Vincent
*/
/* 
    Name :          OpenSSLWebsite
    Created on :    7 jan. 2015, 09:00:36
    Author     :    Pacheco Mélanie | Passé Valentin | Fillon Vincent
*/
/* line 9, ../sass/global.scss */
html, body {
  height: 100%;
  font-family: Century Gothic;
}

/* Annimation Header */
/* Background DIV */
/* Chrome, Safari, Opera */
@-webkit-keyframes header-background {
  /* line 18, ../sass/global.scss */
  0% {
    height: 95px;
  }

  /* line 19, ../sass/global.scss */
  50% {
    height: 50%;
  }

  /* line 20, ../sass/global.scss */
  100% {
    height: 95px;
  }
}

/* Standard syntax */
@keyframes header-background {
  /* line 25, ../sass/global.scss */
  0% {
    height: 95px;
  }

  /* line 26, ../sass/global.scss */
  50% {
    height: 50%;
  }

  /* line 27, ../sass/global.scss */
  100% {
    height: 95px;
  }
}

/* Buttons */
/* Chrome, Safari, Opera */
@-webkit-keyframes header-buttons {
  /* line 33, ../sass/global.scss */
  0% {
    padding-top: 0px;
  }

  /* line 34, ../sass/global.scss */
  50% {
    padding-top: 40.5vh;
  }

  /* line 35, ../sass/global.scss */
  100% {
    padding-top: 0px;
  }
}

/* Standard syntax */
@keyframes header-buttons {
  /* line 40, ../sass/global.scss */
  0% {
    padding-top: 0px;
  }

  /* line 41, ../sass/global.scss */
  50% {
    padding-top: 40.5vh;
  }

  /* line 42, ../sass/global.scss */
  100% {
    padding-top: 0px;
  }
}

/* line 45, ../sass/global.scss */
header {
  position: absolute;
  height: 100%;
}
/* line 48, ../sass/global.scss */
header #header-background {
  width: 100%;
  position: absolute;
  height: 95px;
  background-color: #397bce;
  border-bottom: 5px solid #333333;
}
/* line 56, ../sass/global.scss */
header ul li {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
/* line 60, ../sass/global.scss */
header ul li a {
  width: 180px;
  margin: auto;
}
/* line 63, ../sass/global.scss */
header ul li a:hover {
  background-color: inherit !important;
}
/* line 67, ../sass/global.scss */
header ul li a img {
  z-index: 1;
  width: 150px;
  margin: auto;
  height: 150px !important;
}

/* line 78, ../sass/global.scss */
.container {
  padding-top: 200px;
  overflow: auto;
  min-height: 100%;
  padding-bottom: 105px;
}
/* line 83, ../sass/global.scss */
.container img {
  margin: auto;
}

/* Acutalité */
/* line 89, ../sass/global.scss */
.cadre-contenu {
  display: block;
}
/* line 92, ../sass/global.scss */
.cadre-contenu img {
  float: left;
  margin-right: 15px;
}

/* line 98, ../sass/global.scss */
.cadre-menu-actualite {
  /*border: 2px solid $header_background;*/
  width: 100%;
}
/* line 102, ../sass/global.scss */
.cadre-menu-actualite .centrer {
  margin-left: 2px;
}

/* --Acutalité-- */
/* Vaccination */
/* line 112, ../sass/global.scss */
.vaccination-container h1 {
  text-align: center;
  color: red;
}

/* --Vaccination-- */
/* Annimation Footer */
/* Background DIV */
/* Chrome, Safari, Opera */
@-webkit-keyframes footer-background {
  /* line 124, ../sass/global.scss */
  0% {
    height: 95px;
  }

  /* line 125, ../sass/global.scss */
  50% {
    height: 50%;
  }

  /* line 126, ../sass/global.scss */
  100% {
    height: 95px;
  }
}

/* Standard syntax */
@keyframes footer-background {
  /* line 131, ../sass/global.scss */
  0% {
    height: 95px;
  }

  /* line 132, ../sass/global.scss */
  50% {
    height: 50%;
  }

  /* line 133, ../sass/global.scss */
  100% {
    height: 95px;
  }
}

/* line 136, ../sass/global.scss */
footer {
  z-index: 2;
}
/* line 138, ../sass/global.scss */
footer #footer-background {
  z-index: 2;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 95px;
  background-color: #383f50;
  border-top: 5px solid #333333;
}
