@charset "UTF-8";
/* 
    Name :          OpenSSLWebsite
    Created on :    7 jan. 2015, 09:00:36
    Author     :    Pacheco M├®lanie | Pass├® Valentin | Fillon Vincent
*/
/* 
    Name :          OpenSSLWebsite
    Created on :    7 jan. 2015, 09:00:36
    Author     :    Pacheco M├®lanie | Pass├® Valentin | Fillon Vincent
*/
html, body {
  height: 100%;
  font-family: Century Gothic; }

/* Annimation Header */
/* Background DIV */
/* Chrome, Safari, Opera */
@-webkit-keyframes header-background {
  0%, 100% {
    height: 60px; }
  50% {
    height: 50%; } }
/* Standard syntax */
@keyframes header-background {
  0%, 100% {
    height: 60px; }
  50% {
    height: 50%; } }
/* Buttons */
/* Chrome, Safari, Opera */
@-webkit-keyframes header-buttons {
  0%, 100% {
    padding-top: 0px; }
  50% {
    padding-top: 40.5vh; } }
/* Standard syntax */
@keyframes header-buttons {
  0%, 100% {
    padding-top: 0px; }
  50% {
    padding-top: 40.5vh; } }
header {
  position: fixed;
  height: 100%;
  z-index: 3; }
  header #header-background {
    width: 100%;
    position: fixed;
    height: 60px;
    background-color: #397BCE;
    border-bottom: 5px solid #333; }
  header ul {
    position: fixed; }
    header ul li {
      text-align: center;
      font-size: 18px;
      font-weight: bold; }
      header ul li a {
        width: 180px;
        font-size: 30px;
        margin: auto;
        color: #333; }
        header ul li a:hover {
          background-color: inherit !important;
          color: white; }

.container {
  position: relative;
  z-index: 1;
  padding-top: 165px;
  overflow: auto;
  min-height: 100%;
  padding-bottom: 105px; }
  .container #container-head-white {
    position: fixed;
    z-index: 2;
    top: 60px;
    width: 100%;
    height: 75px;
    background-color: white; }
  .container #container-head-gradient {
    position: fixed;
    z-index: 2;
    top: 135px;
    width: 100%;
    height: 75px;
    background-image: linear-gradient(white, transparent); }
  .container img {
    margin: auto; }

/* Acutalit├® */
.cadre-contenu {
  display: block; }
  .cadre-contenu img {
    float: left;
    margin-right: 15px; }

.cadre-menu-actualite {
  border: 2px solid #397BCE;
  width: 100%; }
  .cadre-menu-actualite .centrer {
    margin-left: 2px; }

/* --Acutalit├®-- */
/* Vaccination */
.vaccination-container h1 {
  text-align: center;
  color: red; }

/* --Vaccination-- */
/* Annimation Footer */
/* Background DIV */
/* Chrome, Safari, Opera */
@-webkit-keyframes footer-background {
  0%, 100% {
    height: 60px; }
  50% {
    height: 50%; } }
/* Standard syntax */
@keyframes footer-background {
  0%, 100% {
    height: 60px; }
  50% {
    height: 50%; } }
footer {
  padding-top: 100px; }
  footer #footer-gradient {
    position: fixed;
    z-index: 3;
    bottom: 60px;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(transparent, white); }
  footer #footer-background {
    position: fixed;
    z-index: 3;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #383F50;
    border-top: 5px solid #333; }

/*# sourceMappingURL=global.css.map */
