/* 
    Name :          OpenSSLWebsite
    Created on :    7 jan. 2015, 09:00:36
    Author     :    Pacheco Mélanie | Passé Valentin | Fillon Vincent
*/

$header-background:     #397BCE;
$footer-background:     #383F50;

$border-color:          #333;
