/* 
    Name :          OpenSSLWebsite
    Created on :    7 jan. 2015, 09:00:36
    Author     :    Pacheco Mélanie | Passé Valentin | Fillon Vincent
*/

@import "variables";

html, body {
    height: 100%;
    font-family: Century Gothic;
}

/* Annimation Header */
/* Background DIV */
/* Chrome, Safari, Opera */
@-webkit-keyframes header-background {
    0%, 100% {height: 60px;}
    50%  {height: 50%;}
}

/* Standard syntax */
@keyframes header-background {
    0%, 100% {height: 60px;}
    50%  {height: 50%;}
}

/* Buttons */
/* Chrome, Safari, Opera */
@-webkit-keyframes header-buttons {
    0%, 100% {padding-top: 0px;}
    50%  {padding-top: 40.5vh;}
}

/* Standard syntax */
@keyframes header-buttons {
    0%, 100% {padding-top: 0px;}
    50%  {padding-top: 40.5vh;}
}

header {
    position: fixed;
    height: 100%;
    z-index: 3;
    #header-background {
        width: 100%;
        position: fixed;
        height: 60px;
        background-color: $header-background;
        border-bottom: 5px solid $border-color;
    }
    ul {
        position: fixed;
        li {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            a {
                width: 180px;
                margin: auto;
                &:hover{
                    background-color: inherit !important;
                }

                img {
                    width: 80px;
                    margin: auto;
                    height: 80px !important;
                }
            }
        }
    }
}

.container {
    position: relative;
    z-index: 1;
    padding-top: 165px;
    overflow: auto;
    min-height: 100%;
    padding-bottom: 105px;
    #container-head-white {
        position: fixed;
        z-index: 2;
        top: 60px;
        width: 100%;
        height:75px;
        background-color: white;
    }
    #container-head-gradient {
        position: fixed;
        z-index: 2;
        top: 135px;
        width: 100%;
        height:75px;
        background-image: linear-gradient(white, transparent);
    }
    img {
        margin: auto;
    }
}

/* Acutalité */
.cadre-contenu {
        display: block;	

        img {
                float: left;
                margin-right: 15px;
        }
}

.cadre-menu-actualite{
        border: 2px solid $header_background;
        width: 100%;

        .centrer{
                margin-left: 2px;
        }

}
/* --Acutalité-- */


/* Vaccination */
.vaccination-container {
    h1 {
        text-align: center; 
        color: red
    }
}
/* --Vaccination-- */


/* Annimation Footer */
/* Background DIV */
/* Chrome, Safari, Opera */
@-webkit-keyframes footer-background {
    0%, 100% {height: 60px;}
    50%  {height: 50%;}
}

/* Standard syntax */
@keyframes footer-background {
    0%, 100% {height: 60px;}
    50%  {height: 50%;}
}

footer {
    padding-top: 100px;
    #footer-gradient {
        position: fixed;
        z-index: 3;
        bottom: 60px;
        width: 100%;
        height:100px;
        background-image: linear-gradient(transparent, white);
    }
    #footer-background {
        position: fixed;
        z-index: 3;
        bottom: 0;
        width: 100%;
        height: 60px;
        background-color: $footer-background;
        border-top: 5px solid $border-color;
    }
}