/* 
    Created on : 4 déc. 2014, 20:33:36
    Author     : Pipe My Fork - Nuit de l'info 2014
*/

@import "variables";

html, body {
    height: 100%;
    font-family: Century Gothic;
}

/* Annimation Header */
/* Background DIV */
/* Chrome, Safari, Opera */
@-webkit-keyframes header-background {
    0%   {height: 95px;}
    50%  {height: 50%;}
    100% {height: 95px;}
}

/* Standard syntax */
@keyframes header-background {
    0%   {height: 95px;}
    50%  {height: 50%;}
    100% {height: 95px;}
}

/* Buttons */
/* Chrome, Safari, Opera */
@-webkit-keyframes header-buttons {
    0%   {padding-top: 0px;}
    50%  {padding-top: 40.5vh;}
    100% {padding-top: 0px;}
}

/* Standard syntax */
@keyframes header-buttons {
    0%   {padding-top: 0px;}
    50%  {padding-top: 40.5vh;}
    100% {padding-top: 0px;}
}

header {
    position: absolute;
    height: 100%;
    #header-background {
        width: 100%;
        position: absolute;
        height: 95px;
        background-color: $header-background;
        border-bottom: 5px solid $border-color;
    }
    ul {
        li {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            a {
                width: 180px;
                margin: auto;
                &:hover{
                    background-color: inherit !important;
                }

                img {
                    z-index: 1;
                    width: 150px;
                    margin: auto;
                    height: 150px !important;
                }
            }
        }
    }
}

.container {
    padding-top: 200px;
    overflow: auto;
    min-height: 100%;
    padding-bottom: 105px;
    img {
        margin: auto;
    }
}

/* Acutalité */
.cadre-contenu {
        display: block;	

        img {
                float: left;
                margin-right: 15px;
        }
}

.cadre-menu-actualite{
        /*border: 2px solid $header_background;*/
        width: 100%;

        .centrer{
                margin-left: 2px;
        }

}
/* --Acutalité-- */


/* Vaccination */
.vaccination-container {
    h1 {
        text-align: center; 
        color: red
    }
}
/* --Vaccination-- */


/* Annimation Footer */
/* Background DIV */
/* Chrome, Safari, Opera */
@-webkit-keyframes footer-background {
    0%   {height: 95px;}
    50%  {height: 50%;}
    100% {height: 95px;}
}

/* Standard syntax */
@keyframes footer-background {
    0%   {height: 95px;}
    50%  {height: 50%;}
    100% {height: 95px;}
}

footer {
    z-index: 2;
    #footer-background {
        z-index: 2;
        position: absolute; bottom: 0;
        width: 100%;
        height: 95px;
        background-color: $footer-background;
        border-top: 5px solid $border-color;
    }
}